@keyframes shiftBackground {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.shiftedBgClass {
    animation: shiftBackground 10s linear infinite;
}
